<div class="container-fluid">

	<center>
		<h3>{{title}} </h3>
	</center>
	<div class="row">


		<div class="col-md-4"><a href="#/dataElements">Data Elements</a></div>
		<div class="col-md-4"><a href="#/indicators">Indicators</a></div>
		<div class="col-md-4"><a href="#/DataSets">Data Sets</a></div>
	</div>
	<div class="row">
		<div class="col-md-4"><a href="#/programs">Programs</a></div>
		<div class="col-md-4"><a href="#/organisationUnits">Organisation Units</a></div>
		<div class="col-md-4"><a href="#/other">Other</a></div>
	</div>

</div>